@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;1,300&display=swap");
@font-face {
  font-family: "PeaceSans";
  src: url("fonts/Peace_Sans_Webfont.woff") format("woff");
}
@font-face {
  font-family: "Brusher";
  src: url("fonts/Brusher.woff") format("woff");
}



.containerlala {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 340px;
  perspective: 5000px;
  align-content: center;
  align-self: center;
}

.carousellala {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  height: 100%;
  width: 60%;
  position:fixed;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.itemlala {
  backface-visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  background: #000;
  width: 250px;
  height: 300px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #FFF;
}

.a {
  transform: rotateY(0deg) translateZ(180px);
  background: lightgray;
  height: 300px;
}
.b {
  transform: rotateY(120deg) translateZ(180px);
  background: lightgray;
  height: 300px;
  line-height: 18px;
}
.c {
  transform: rotateY(240deg) translateZ(180px);
  background: lightgray;
  height: 300px;
  line-height: 16px;
  font-size: 12px;
}
.next, .prev {
  display: flex;
  color: white;
  position: absolute;
  top: 10px;
  width: 100px;
  height: 300px;
  cursor: pointer;
  
  z-index: 100;
}

.next {
  right: 20px;
  background-image: url("imgs/next.png");
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
  opacity: 0.35;
}
.prev {
  left: 20px;
  background-image: url("imgs/prev.png");
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;
  opacity: 0.35;
}




html {scroll-behavior: smooth;}
html,
body {
  padding: 0;
  margin: 0;

 
}
body {
  background-color: #fff;
}
body,
div,
p {
  font-family: Arial, Helvetica, Verdana;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  -webkit-text-size-adjust: none;
}

h2,
h4,
h5,
h6 {
  font-weight: bold;
}
h1,
h2,
h3 {
  font-size: 18px;
}
h4,
h5,
h6 {
  font-size: 16px;
}
p {
  margin: 0 0 10px 0;
}
a,
a:link,
a:active,
a:visited,
a:hover {
  color: #fff;
  text-decoration: underline;
}
pre {
  font-size: 12px;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#page {
  height: auto;
}
#page nav {
  display: none;
}
#header {
  background: #3d667b;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 50px;
 
}
#header a {
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
#header a.friends {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
#header a.right {
  left: auto;
  right: 10px;
}
#header .nav_bar {
display: none;
}
#content {
  padding: 0px;
}
#header img {
  max-width: 80px;
}
.pmovel_logo {
  margin-left: 20px;
  width: 100px; 
  height: auto;
}
.cont {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.front {
  background-image: linear-gradient(#3d667b, white);
  height: 100%;
  width: 100%;
}

.slogan,
.animation,
.descwrapper,
.deal {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40%;
  justify-content: center;
  flex-flow: column wrap;
}
.slogan p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 100%;
  font-size: 30px;
  text-align: center;
}
.animation {
  flex-direction: row;
}
.phone1,
.phone2 {
  height: 100%;
}
.phone1 img,
.phone2 img {
  max-width: calc(90px * 1.2);
  max-height: calc(160px * 1.2);
}
.phone1 img {
  animation: float 3s infinite;
}
.phone2 img {
  animation: float2 3.4s infinite;
  transform: translateX(-20px);
}

.desc {
  width: 90%;
}
.desc p {
  color: #3d667b;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}
.flavor {
  padding-top: 30px;
}
.flavor h1,
.flavor h2,
.flavor h3,
.flavor h5 {
  display: inline;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  text-align: center;
}
.flavor h1 {
  background: #3d667b;
  color: white;
  font-size: 26.5px;
  font-weight: bold;
}
.flavor h5 {
  background: #3d667b;
  color: white;
  font-size: 30px;
}
.flavor h2 {
  color: #3d667b;
  font-size: 20px;
}
.flavor h3 {
  color: #3d667b;
  font-size: 15.6px;
  font-weight: 300;
}
.deal {
  width: 100%;
  justify-content: center;
}
.deal_btn_wrapper {
  margin-top: 20px;
  /* width: clamp(250px, 50%, 350px); */
  width: 300px;
  /* width: max(250px, min(50%, 350px)); */
}
.deal_btn {
  background-color: rgb(168, 168, 168, 0);
  border-radius: 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: xx-large;
  color: #3d667b;
  border: solid #3d667b 1px;
  text-align: center;
  height: 50px;
}
.deal_btn:hover {
  background: #3d667b;
  color: white;
  border: solid white 0.2vw;
  animation: shine 1s infinite;
}
.features_wide{display: none;}
.features {
  display: flex;
  align-self: center;
  width: min(550px, 100vw);

  height: 70vh;
  min-height: 512px;
  max-height: 530px;
}
.carousel_content {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  width: 100%;
}
.carousel_content h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #3d667b;
  text-align: center;
}
.carousel_content h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #1c3a49;
  text-align: center;
}
.icon_title {
  display: flex;
  flex-flow: row nowrap;
  height: 30%;
  align-items: center;
  justify-content: center;
}
.icon_title img {
  width: 40px;
  height: auto;
}
.icon_title img:hover {
  animation: shake 3s 1;
}

.carousel_desc {
  display: flex;
  align-self: center;
  width: 50%;
}
.carousel-item {
  height: 500px;
  max-width: 100%;
}
.carousel-inner {
  width: min(550px, 100vw);
}
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(50%);
}

.blog {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: clip;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(white 20%, #3d667b 1%);
  justify-content: center;
}

.office {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 35%;
  max-width: 270px;
}
.office img {
  width: max(100%, 250px);
  height: auto;
}
.blog_text {
  display: flex;
  align-self: flex-end;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  height: 80%;
  max-width: 350px;
}
.blog_text h1 {
  font-size: 15px;
  line-height: 14px;
}
.blog_text h3 {
  font-size: 10px;
  line-height: 3px;
}

.blog_btn {
  /* background-color: gray; */
  width: 30%;
  max-width: 212px;
  height: 80%;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-start;
}
.blog_btn button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  width: 80%;
}
.blog_btn button img {
  width: min(110%, 110px);
  height: auto;
}
.blog_btn button img:hover {
  width: 110%;
  max-width: 100px;
  height: auto;
  opacity: 1;
}
.blog_btn button img:active {
  width: 90%;
  max-width: 100px;

  height: auto;
  opacity: 0.7;
}
button:active {
  outline: none;
  box-shadow: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
.clients {
  display: flex;
  width: 100%;
  height: 80vh;
  max-height: 650px;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.logos {
  display: flex;
  height: 15%;
  width: 340px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.logos img {
  filter: grayscale(1);
  max-width: 60%;
  height: auto;
}
.logos img:hover {
  filter: grayscale(0);
}
.comments {
  display: flex;
  max-width: 400px;
  min-width: 340px;

  height: 65%;
  width: 62.5%;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  flex-flow: row wrap;
}
.com1 {
  display: flex;
  width: 100%;
  height: 50%;
  max-height: 200px;
  margin-top: 10px;
  background-image: url("imgs/balloon.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 340px;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}
.com_txt {
  width: 75%;
  margin-top: 25px;
  height: 85px;
}
.com_txt p {
  color: #3d667b;
  font-family: "Open Sans";
  text-align: center;
  font-size: 11px;
  line-height: 12px;
}
.com_id {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.sprite {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 30%;
  margin-top: 20px;
}
.name h4 {
  color: #666;
  font-family: "Rosario";
  font-style: italic;
  font-size: 14px;
}
.role h2 {
  color: #333;
  font-family: "PeaceSans";
  font-weight: bold;
  font-size: 21px;
}

.com2 {
  display: flex;
  width: 100%;
  height: 40%;
  max-height: 200px;
  background-image: url("imgs/balloon_2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 340px;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: center;
}
.com2 .com_txt {
  margin-top: 25px;
  margin-bottom: 15px;

  height: fit-content;
}
.com2 .com_txt p{
  margin-top: 25px;

}
.com2 .sprite {
  justify-content: flex-start;
}
.com2 .info {
  align-items: flex-end;
}
.clap {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  height: 20%;
  width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}

@keyframes float {
  0% {
    transform: translatey(0px) rotate(14deg) translateX(80px);
  }
  50% {
    transform: translatey(-20px) rotate(14deg) translateX(80px);
  }
  100% {
    transform: translatey(0px) rotate(14deg) translateX(80px);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(0px) rotate(-14deg) translateX(-80px);
  }
  50% {
    transform: translatey(-20px) rotate(-14deg) translateX(-80px);
  }
  100% {
    transform: translatey(0px) rotate(-14deg) translateX(-80px);
  }
}
@keyframes floatshadow {
  0% {
    transform: scale(0.6, 0.6);
  }
  50% {
    transform: scale(0.4, 0.4);
  }
  100% {
    transform: scale(0.6, 0.6);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  50% {
    opacity: 0.6;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
  100% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
}
#blog {
  position: relative;
  width: 0.00000000000000001px;
  height: 0.00000000000000001px;
  left: 0;
  margin-top: -100px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
  background-color: transparent;
  z-index: -1;
}
.plans {
  display: none;
}
.budget_slider {
  display: flex;
  width: 100%;
  height: 420px;
  align-items: center;
  flex-flow: column nowrap;
background-color: #f2f2f2;
  justify-content: flex-start;

}
.budget_slider .content span{
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}
.budget_slider .content2 span{
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}
.budget_slider .content3 span{
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}
.plan_slider {
  width: 100%;
  background: #f2f2f2;
  height: 100px;
}
.flavor_slider{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2
}
.flavor_slider_txt {
  text-align: center;
}
.flavor_slider h1{
  display: inline;
  font-family: "Brusher";
  font-size: 30px;
  color: black;
  text-align: center;

}
.flavor_slider h3{
  display: inline;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 23px;
  color: #333;
  text-align: center;

}
.flavor_slider h2{
  text-align: center;
  display: inline;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 25px;
  color: black;
}
.footer {
  display: flex;
  align-self: flex-end;
  width: 100%;
  background-image: linear-gradient(white 70%,#3d667b 0%);
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 800px;
  z-index: 1;
}
.foot_cont {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 80%;
max-width: 1200px;
justify-self: center;
}
.foot_info {

}
.assin{
  display: flex;
  align-content: flex-end;
  width: 100%;
  height: 120px;
  background-image: url("imgs/assin.png");
  background-position-x: center;
  background-repeat: no-repeat;
}
.mail_border{
  display: flex;
  z-index: 3;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  justify-self: center;
  height: 600px;
background: white;
  border-radius: 40px;
  padding: 20px 10px;
margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .foot_cont {
    width: 100%;

  }
  .mail_border{
    width: 100%;
    margin-bottom: 2px;
  }
  .btn_send{
    font-size: small;
  }
}
.mail {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
  background-color: lightgray;
  border-color: transparent !important;
  width: 95%;
  max-width: 500px;
  z-index: 2;
  border-radius: 40px;
}
.mail p {
  color: #3d667b;
  font-family: "Open Sans";
  font-weight: 800;
}
.mail button {
  background-color: #3d667b;
  border-color: white;
}
.mail button:focus{
  background-color: #3d667b;
  border-color: white;
}
.mail button:active{
  background-color: #3d667b;
  border-color: white;
}
.mail button:hover{
  background-color: #3d667b;
  border-color: white;
}
.links  {

}
.links a{
  padding-right: 20px;
  text-decoration: none;
}
.links a:visited{
  text-decoration: none;
}
.links{
  display: none;
}
.foot_info {
  display: none;
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
  #header {
    background: #3d667b;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 50px;
    padding: 0 50px;
  }
.budget_slider{display: none !important;}

  .features_wide{display: none;}
  .front_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#3d667b, white);
  }
  .front {
    display: flex;
    height: 100%;
    min-height: 400px;
    width: 85%;
    max-width: 787px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .slogan {
    display: flex;
    width: 33%;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-flow: row nowrap;
  }
  .animation {
    display: flex;
    width: 33%;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-flow: row nowrap;
  }
  .slogan p {
    text-align: left;
    font-size: 45px;
  }
  .desc p {
    color: white;
    text-align: left;
  }
.clients{
  max-height: 400px;

}
  .descwrapper,
  .deal {
    width: 33%;
  }
  .blog_btn {
    /* background-color: gray; */
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-start;
  }
  .blog_btn button {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    width: fit-content !important;
  }
  .blog_btn button img {
    width: 120px !important;
    height: auto !important;
  }
  .blog_btn button img:hover {
    width: 120px !important;
    height: auto !important;
    opacity: 1 !important;
  }
  .blog_btn button img:active {
    width: 110px !important;
    height: auto !important;
    opacity: 0.7 !important;
  }
  .comments {
    display: flex;
    max-width: 800px;
    min-width: 340px;

    height: 85%;
    max-height: 200px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-flow: row nowrap;
  }
  .com1,
  .com2 {
    width: 400px;
    flex-flow: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-top: 0 !important;
  }
  .clap {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 10%;
  }
  .clap img {
    width: 80%;
    height: auto;
  }
  .com2 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-end;
    align-items: center;
  }
  .com1,.com2{height: 100%;}
  .com1 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-start;
    align-items: center;
  }
  .clients {
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
  }
  .logos {
    min-width: 610px;
    height: 140px;
  }
  .logo{
    max-width: 20%;
  }
  .logo img {
    filter: grayscale(1);
    max-width: 80%;
    height: auto;
    
  }
  



  .footer{
    flex-flow: row-reverse nowrap;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .foot_cont{
    flex-flow: row-reverse nowrap;
    width: 100%;
    align-items: flex-end;
       justify-content: flex-end;
       justify-self: flex-end;
       align-self: flex-end;
  }
  .mail_border{
      margin-left: 40px;
      min-width: 500px;
  }
  .assin {
    height: 360px;
    align-self: flex-end;
    min-width: 200px;
  }
  
.mail{
  min-width: 400px;
}  
.links{
  display: none;
}
.foot_info {
  display: none;
}








}













@media screen and (min-width: 1200px) {
  #header {
    display: flex;
    background: #3d667b;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 90px;
    padding: 0 50px;
    width: 100%;
    justify-content: space-evenly !important;
  }
.budget_slider{display: none !important;}

  #header a{display: none;}
  #header .nav_bar {
    display: flex;
  width: 50%;
  max-width: 800px;
  align-self: center;
  justify-self: flex-start;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 80px;
    }
    #header .nav_bar button {
      background-color: transparent;
      border-color: transparent;
      color: white;
      font-family: "Open Sans";
      font-weight: 800;
      font-size: 20px;
    }
    #header .nav_bar #deal_btn_header{
      width: 150px;
      height: 40px;
      color: #3d667b;
      background-color: white;
      border-radius: 10px 10px 10px 10px;
      animation: shine 3s infinite;
    }
    #header .nav_bar #deal_btn_header:hover{
      animation: shine 0.5s infinite;
    }
    #header .nav_bar #deal_btn_header:active{
      animation: shine 0.5s infinite;
      font-size: 16px;
    }

  #page{width: 100%;}
  .cont{
    background: rgb(61,102,123);
background: linear-gradient(180deg, rgb(61,102,123) 0%, rgba(255,255,255,1) 35%);

  }
#header img {
  max-width: 150px;
}
.access_btn {
  display: flex;
  height: 30%;
  width: 20%;
  align-self: center;
  justify-content: flex-end;
  justify-self: flex-end;
}
  .front_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: none;
  }
  .front {
    display: flex;
    height: 100%;
    min-height: 400px;
    width: 1100px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    background-image: none;
  }

  .slogan {
    display: flex;
    width: 33%;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-flow: row nowrap;
  }
  .animation {
    display: flex;
    width: 30%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .phone1,
  .phone2 {
    width: 20%;
  }
  .phone1 img,
  .phone2 img {
    max-width: calc(90px * 2.2);
    max-height: calc(160px * 2.2);
  }
  .phone2 img {
    transform: translateX(-200px);
  }
  .phone1 img {
    transform: translateX(143px);
  }
  @keyframes float {
    0% {
      transform: translatey(0px) rotate(14deg) translateX(143px);
    }
    50% {
      transform: translatey(-20px) rotate(14deg) translateX(143px);
    }
    100% {
      transform: translatey(0px) rotate(14deg) translateX(143px);
    }
  }
  @keyframes float2 {
    0% {
      transform: translatey(0px) rotate(-14deg) translateX(-220px);
    }
    50% {
      transform: translatey(-20px) rotate(-14deg) translateX(-220px);
    }
    100% {
      transform: translatey(0px) rotate(-14deg) translateX(-220px);
    }
  }

  .slogan p {
    text-align: left;
    font-size: 70px;
  }
  .desc p {
    color: white;
    text-align: justify;
    font-size: 18.5px;
  }

  .descwrapper,
  .deal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 36%;
  }
  .flavor {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .flavor h1,
  .flavor h2,
  .flavor h3,
  .flavor h5 {
    display: inline;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;
    text-align: center;
  }
  .flavor h1 {
    background: white;
    color: #3d667b;
    font-size: 33.5px;
    font-weight: bold;
  }
  .flavor h5 {
    background:  white;
    color: #3d667b;
    font-size: 38.2px;
  }
  .flavor h2 {
    color: white;
    font-size: 25px;
  }
  .flavor h3 {
    color: white;
    font-size: 19.7px;
    font-weight: 300;
  }
  .clients{
    max-height: 400px;
  }
  .comments {
    display: flex;
    max-width: 800px;
    min-width: 340px;

    height: 85%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-flow: row nowrap;
  }
  .com1,
  .com2 {
    width: 40%;
    flex-flow: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-top: 0 !important;
    height: 200px;
  }
  .clap {
    display: flex;
    align-items: center;
    width: 10%;
    height: 120px;
  }
  .clap img {
    width: 80%;
    height: 63%;
  }
  .com2 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-end;
    align-items: center;
  }
  .com1 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-start;
    align-items: center;
  }
  .logos {
    width: 500px;
  }

  .features {
    display: none;
  }

  .features_content{
    display: flex;
    align-self: center;
    width: 80%;
    height: 83%;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .features_wide {
    display: flex;
    align-self: center;
    width: 1050px;
    height: 700px;
    background-color: white;
    border-radius: 150px 150px 0 0;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: center;
    margin-top: 40px;
  }
  .features_column {
    display: flex;
    flex-flow: column wrap;
    width: 24%;
    height: 100%;
  }
  .feat_item {
    width: 100%;
    height: 166px;
    margin-bottom: 25px;
  }
  .icon_title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .icon_title h2{
    color: #3d667b;
    font-family: "Open Sans";
    text-decoration: none !important;
    font-weight: 300;
    font-size: 22px;
    margin: 0;
  }
  .feat {
    width: 80%;
    display: flex;
    justify-self: flex-end;
  }
  .feat_txt{margin-left:40px;width: 90%;}
  .feat_txt h4 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 19px;
    color: #1b3d4e;
    text-decoration: none;
  }

  .blog {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: clip;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(white 20%, #3d667b 1%);
    justify-content: center;
  }
  .office img {
    width: 390px;
    height: auto;
  }
  .blog_text{
    max-width: 450px;
  }
  .blog_text h1 {
    font-size: 30px;
    line-height: 29px;
    text-decoration: none;
  }
  .blog_text h3 {
    font-size: 18px;
    line-height: 3px;
  }
  .blog_btn {
    /* background-color: gray; */
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-start;
  }
  .blog_btn button {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    width: fit-content !important;
  }
  .blog_btn button img {
    width: 160px !important;
    max-width: 160px;
    height: auto !important;
  }
  .blog_btn button img:hover {
    width: 160px !important;
    max-width: 160px;

    height: auto !important;
    opacity: 1 !important;
  }
  .blog_btn button img:active {
    width: 150px !important;
    max-width: 160px;

    height: auto !important;
    opacity: 0.7 !important;
  }
  .clients {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
.logos{height: 40%; align-items: center; width: 70%;}
.plans {
  display: flex;
}

.logos img{
  min-width: 90%;
  height: auto;
}
.com1, .com2{width: 400px;}
.clap{width: 100px;display: flex; align-self: flex-start;}
.footer{
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: center;
  max-height: 640px !important;

}
.mail_border{
    margin-left: 40px;
}
.assin {
  height: 360px;
  align-self: flex-end;
  justify-self: flex-end;
}

.foot_cont{
  flex-flow: row-reverse nowrap;
  width: 100%;
  align-items: flex-end;
     justify-content: flex-end;
     justify-self: flex-end;
     align-self: flex-end;
}
.foot_info {
  display: flex;
  height: 1%;
  align-self: center;
}
.links {
padding-bottom: 50px;
padding-left: 50px;
display: flex;
align-self: flex-end;
height: 70%;
width: 100%;
align-items: flex-end;
justify-content: flex-start;
}
}


@media screen and (min-width: 1024px) and (max-width: 1199px) {
  #header {
    background: #3d667b;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 60px;
    padding: 0 50px;
  }
  .budget_slider{display: none !important;}
  #header a{display: none;}
  #header .nav_bar {
    display: flex;
  width: 50%;
  max-width: 800px;
  align-self: center;
  justify-self: flex-start;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-height: 80px;
    }
    #header .nav_bar button {
      background-color: transparent;
      border-color: transparent;
      color: white;
      font-family: "Open Sans";
      font-weight: 800;
      font-size: 20px;
    }
    #header .nav_bar #deal_btn_header{
      color: #3d667b;
      background-color: white;
      border-radius: 10px 10px 10px 10px;
    }
    
  #page{width: 100%;}
  .cont{
    background: rgb(61,102,123);
background: linear-gradient(180deg, rgba(61,102,123,1) 0%, rgba(255,255,255,1) 25%);

  }
  .front_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: none;
  }
  .front {
    display: flex;
    height: 100%;
    min-height: 400px;
    width: 85%;
    max-width: 900px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    background-image: none;
  }

  .slogan {
    display: flex;
    width: 33%;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-flow: row nowrap;
  }
  .animation {
    display: flex;
    width: 30%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .phone1,
  .phone2 {
    width: 20%;
  }
  .phone1 img,
  .phone2 img {
    max-width: calc(90px * 1.8);
    max-height: calc(160px * 1.8);
  }
  .phone2 img {
    transform: translateX(-200px);
  }

  @keyframes float {
    0% {
      transform: translatey(0px) rotate(14deg) translateX(80px);
    }
    50% {
      transform: translatey(-20px) rotate(14deg) translateX(80px);
    }
    100% {
      transform: translatey(0px) rotate(14deg) translateX(80px);
    }
  }
  @keyframes float2 {
    0% {
      transform: translatey(0px) rotate(-14deg) translateX(-220px);
    }
    50% {
      transform: translatey(-20px) rotate(-14deg) translateX(-220px);
    }
    100% {
      transform: translatey(0px) rotate(-14deg) translateX(-220px);
    }
  }

  .slogan p {
    text-align: left;
    font-size: 60px;
  }
  .desc p {
    color: white;
    text-align: justify;
    font-size: 15.5px;
  }

  .descwrapper,
  .deal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 36%;
  }
  .flavor {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .flavor h1,
  .flavor h2,
  .flavor h3,
  .flavor h5 {
    display: inline;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;
    text-align: center;
  }
  .flavor h1 {
    background: white;
    color: #3d667b;
    font-size: 33.5px;
    font-weight: bold;
  }
  .flavor h5 {
    background:  white;
    color: #3d667b;
    font-size: 38.2px;
  }
  .flavor h2 {
    color: white;
    font-size: 25px;
  }
  .flavor h3 {
    color: white;
    font-size: 19.7px;
    font-weight: 300;
  }
  .clients{
    max-height: 400px;
  }
  .comments {
    display: flex;
    max-width: 800px;
    min-width: 340px;

    height: 85%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-flow: row nowrap;
  }
  .com1,
  .com2 {
    width: 40%;
    flex-flow: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-top: 0 !important;
  }
  .clap {
    display: flex;
    align-items: center;
    width: 10%;
    height: 120px;
  }
  .clap img {
    width: 80%;
    height: 63%;
  }
  .com2 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-end;
    align-items: center;
  }
  .com1 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-start;
    align-items: center;
  }
  .logos {
    width: 500px;
  }

  .features {
    display: none;
  }

  .features_content{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 83%;
    flex-flow: row nowrap;
  }
  .features_wide {
    display: flex;
    align-self: center;
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 150px 150px 0 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .features_column {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: 100%;
  }
  .feat_item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
    height: 166px;
  }
  .icon_title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .icon_title h2{
    color: #3d667b;
    font-family: "Open Sans";
    text-decoration: none !important;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
  }
  .feat {
    width: 80%;
    display: flex;
    justify-self: flex-end;
  }
  .feat_txt{display:flex;
    width: 80%;
    justify-self: flex-end;
  align-items: flex-end;}
  .feat_txt h4 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    color: #1b3d4e;
    text-decoration: none;
  }

  .blog {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: clip;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(white 20%, #3d667b 1%);
    justify-content: center;
  }
  .office img {
    width: 320px;
    height: auto;
  }
  .blog_text{
    max-width: 450px;
  }
  .blog_text h1 {
    font-size: 30px;
    line-height: 29px;
    text-decoration: none;
  }
  .blog_text h3 {
    font-size: 18px;
    line-height: 3px;
  }
  .blog_btn {
    /* background-color: gray; */
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-start;
  }
  .blog_btn button {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    width: fit-content !important;
  }
  .blog_btn button img {
    width: 140px !important;
    height: auto !important;
  }
  .blog_btn button img:hover {
    width: 140px !important;
    height: auto !important;
    opacity: 1 !important;
  }
  .blog_btn button img:active {
    width: 130px !important;
    height: auto !important;
    opacity: 0.7 !important;
  }
  .comments {
    display: flex;
    max-width: 800px;
    min-width: 340px;

    height: 85%;
    max-height: 200px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-flow: row nowrap;
  }
  .com1,
  .com2 {
    width: 400px;
    flex-flow: column;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin-top: 0 !important;
  }
  .clap {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 10%;
  }
  .clap img {
    width: 80%;
    height: auto;
  }
  .com2 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-end;
    align-items: center;
  }
  .com1,.com2{height: 100%;}
  .com1 .com_txt {
    display: flex;
    height: 120px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
    justify-self: flex-start;
    align-items: center;
  }
  .clients {
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
  }
  .logos {
    min-width: 610px;
    height: 140px;
  }
  .logo{
    max-width: 20%;
  }
  .logo img {
    filter: grayscale(1);
    max-width: 80%;
    height: auto;
    
  }

.plans {
  display: flex;
}

.mail_border{
    margin-left: 40px;
}
.assin {
  height: 360px;
  align-self: flex-end;
}

.foot_cont{
  width: 100%;
  justify-content: space-between;
}
.footer{
  flex-flow: row-reverse nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.foot_cont{
  flex-flow: row-reverse nowrap;
  width: 100%;
  align-items: flex-end;
     justify-content: flex-end;
     justify-self: flex-end;
     align-self: flex-end;
}
.foot_info {
  display: flex;
  height: 1%;
  align-self: center;
}
.links {
padding-bottom: 50px;
padding-left: 50px;
display: flex;
align-self: flex-end;
height: 70%;
width: 100%;
align-items: flex-end;
justify-content: flex-start;
}

}

